.streamBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.streamBox button {
  background: none;
  border: none;
}
.streamContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 80%;
}
